<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Upcoming events</title>
</head>
<body>
<div id="upcoming-events" th:each="event : ${events.getEventModels()}">
    <div>
        <p id="event-title" th:text="${event.title}">TITLE</p><br/>
        <span id="event-host" th:text="${event.hostUsername}">HOST</span><span th:text=" ${event.address}"></span><br/>
        <span id="event-dates" th:text="${event.from}">FROM</span> - <span th:text="${event.to}"></span><br/>
        <p id="event-description" th:text="${event.description}">DESCRIPTION</p>
    </div>
</div>
<form method="post" th:object="${newEvent}" action="/events">
    <label for="title">Title: </label>
    <input id="title" type="text" th:field="*{title}"><br/>
    <label for="description">Description: </label>
    <input id="description" type="text" th:field="*{description}"><br/>
    <label for="address">Address: </label>
    <input id="address" type="text" th:field="*{address}"><br/>
    <label for="starts">Starts: </label>
    <input id="starts" type="datetime-local" th:field="*{fromString}">
    <br/>
    <label for="ends">Ends: </label>
    <input id="ends" type="datetime-local" th:field="*{toString}"><br/>
    <input type="submit" value="Add event"><br/>
</form>
</body>
</html>
