<!DOCTYPE html>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div id="container">
    <div id="user-options">
        <div class="optionT"><a href="login-user">Log In</div>

        <div class="optionT"><a href="register">Create Account</a></div>


        <div class="optionT">User Support</div>
        <div style="clear:both;"></div>
    </div>
    <div id="logo">EA - Best Event Aggregation Site</div>
    <div id="map-bar">
        <div class="option">News</div>
        <div class="option">Events</div>
        <div class="option">Forum</div>
        <div class="option">Mobile App</div>
        <div class="option">Shop</div>
        <div class="option">User</div>
        <div style="clear:both;"></div>
    </div>
    <div id="content">
        <span class="title">What's that about?</span><br/>
        This site was created for YOU by a team of professional Full-Stack developers so YOU can
        take part in any event YOU desire. YOU may not even know so far that this kind of events
        took place near you! So feel free to register and experience any event you want, no matter
        if that's crazy house party or cozy book-evening in a café.
    </div>

    <div id="best-events">
        <span class="title">Events:</span>
        <div class="eventO">Crazy House Party</div>
        <div class="eventO">Pizza Evening</div>
        <div class="eventO">Calisthenics workout</div>
        <div class="eventO">Path of Exile leaguestart party</div>
        <div class="eventO">Css course</div>
    </div>
</div>
</body>
</html>