<!DOCTYPE html>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div id="container">
    <div id="user-options">
        <div class="optionT">Log In</div>
        <div class="in-use">Create Account</div>
        <div class="optionT">User Support</div>
        <div style="clear:both;"></div>
    </div>
    <div id="logo">EA - Best Event Aggregation Site</div>
    <div id="map-bar">
        <div class="option">News</div>
        <div class="option">Events</div>
        <div class="option">Forum</div>
        <div class="option">Mobile App</div>
        <div class="option">Shop</div>
        <div class="option">User</div>
        <div style="clear:both;"></div>
    </div>
    <div id="content">
        <form method="post" th:action="@{/login-user}" th:object="${user}">
            <span class="title">Login:</span>

            <div class="form">
                <label for="username" class="formL">Username:</label>
                <input class="formI" id="username" type="text" th:field="*{username}">
                <span class="formI" th:if="${#fields.hasErrors('username')}"
                      th:errors="*{username}">username Error<</span>
            </div>
            <div class="form">
                <label for="password" class="formL">Password:</label>
                <input class="formI" id="password" type="password" th:field="*{password}">
                <span class="formI" th:if="${#fields.hasErrors('password')}"
                      th:errors="*{password}">password Error<</span>
            </div>
            <div class="form">
                <button class="button" type="submit">Apply</button>
            </div>
        </form>
    </div>

    <div id="best-events">
        <span class="title">Events:</span>
        <div class="eventO">Crazy House Party</div>
        <div class="eventO">Pizza Evening</div>
        <div class="eventO">Calisthenics workout</div>
        <div class="eventO">Path of Exile leaguestart party</div>
        <div class="eventO">Css course</div>
    </div>
</div>

</body>
</html>
