<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>First Page</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<div class="main">
    <b>Hello </b><b th:text="${user.username}"></b>
</div>
<div class="user_page">
    <b>Username: </b><b th:text="${user.username}"></b></div>
<div class="user_page">
    <b>Name: </b><b th:text="${user.firstName}"></b></div>
<div class="user_page">
    <b>Surname: </b><b th:text="${user.lastName}"></b></div>
<div class="user_page">
    <b>Email: </b><b th:text="${user.email}"></b></div>
<div class="user_page">
    <b>Password: </b><b th:text="${user.password}"></b></div>

</body>
<script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</html>